._p_important{
    color: pink;
    font-family: 'Roboto';
    font-size: 1.4rem;
}
._p_info, ._p_lobbyfill{
    font-family: 'Roboto';
    font-size: 1rem;
    min-width: 70px;
    color: $headergrey;
}

._p_lobbyfill{
    color: black;
}

._h2_level2{
    font-family: 'Roboto';
    font-size: 1.2rem;
}
._h2_level1{
    font-family: 'Roboto';
    font-size: 1.5rem;
    margin: 10px;
}

._text_center{
    text-align: center;
}
._text_center_block{
    display: block;
    text-align: center;
}